.VideoPlayer {
  width: 100vw;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #151515;
  flex-direction: column;
  padding: 4rem;
}

.VideoPlayer video {
  width: 80vw;
  height: auto;
  margin: 4rem;
  margin-top: 0.1rem;
}

.VideoPlayer h4{
  color: #ffc900;;
  
}
